<div id="<%= dom_id student_but_dumb %>">
  <p>
    <strong>Offset from roy:</strong>
    <%= student_but_dumb.offset_from_roy %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student_but_dumb.name %>
  </p>

  <p>
    <strong>Doctor e watching:</strong>
    <%= student_but_dumb.doctor_e_watching %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= student_but_dumb.age %>
  </p>

  <p>
    <strong>In syria:</strong>
    <%= student_but_dumb.in_syria %>
  </p>

</div>
